 {% load url from future %}
 <!DOCTYPE html>
<html ng-app>
<head>
<meta charset="UTF-8">
<title>My Performance</title>

		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'ReviewProcess/style.css' %}" />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'ReviewProcess/js/style1.css' %}" />
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
      <p class="navbar-text navbar-right">Signed in as  <b>{{ user.get_username }} </b></a></p>
<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a href="{% url "home" %}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> My Task </a>
                       <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a class="disabled" href="{% url "createtask" %}">Create Task</a></li>
                        <li role="presentation">
                            {% if assignedtask %}
                            <a role="menuitem" tabindex="-1" href="{% url "showassignedform" %}">                          
                            My Review Form<span class="badge">1</span></a>
                            </li>
                            {% else %}
                            <a role="menuitem" tabindex="-1" href="#">
                            No Task <span class="badge"></span></a>
                        </li>
                            {% endif %}
                            
                    </ul>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>My Profile</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="{% url "profiles" %}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Edit Profile</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
 
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
                </li>
                <li>
                    <a href="{% url "logout" %}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Logout</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        {% block dashboard %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static 'ReviewProcess/js/sidebar_menu.js' %}" /></script>
    <script src="{% static 'ReviewProcess/js/angular_check.js' %}" /></script>


</body>
</html>