 {% load url from future %}
 <!DOCTYPE html>
<html ng-app>
<head>
<meta charset="UTF-8">
<title>My Performance</title>

		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'ReviewProcess/style.css' %}" />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'ReviewProcess/js/style1.css' %}" />
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
      <p class="navbar-text navbar-right">Signed in as  <b>{{ user.get_username }} </b></a></p>
<div id="wrapper">
    <div id="ac-wrapper" style='display:none'>
    <div id="popup">
        <center>
             <h2>Popup Content Here</h2>
            <input type="submit" name="submit" value="Submit" onClick="PopUp('hide')" />
        </center>
    </div>
</div>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a href="{% url "home" %}"><i class="fa fa-tasks"></i> My Task </a>
                       <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a class="disabled" href="{% url "createtask" %}">Create Task</a></li>
                        <li role="presentation">
                            {% if assignedtask and assigned_task_list = '' %}
                            <a role="menuitem" tabindex="-1" href="{% url "showassignedform" %}">                          
                            My Review Form<span class="badge">1</span></a>
                            </li>
                            {% else %}
                            <a role="menuitem" tabindex="-1" href="getformfromreportee">

            
                            
                                <input type="hidden" name="reportee_id" value={{ assigned_task_list.user_id }}
                            <span class="badge"></span></a>

                        </li>
                            {% endif %}
                    <li role="presentation">
                     <a role="menuitem" tabindex="-1" href="{% url "getformfromreportee" %}">
                        {% if assigned_task_list %}
                           {{ assigned_task_list.user }}
                        {% endif %}
                     </a>

                    </li>

            
                            
                    </ul>
                <li>
                    <a href="#"><i class="fa fa-user"></i> My Profile</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="{% url "profiles" %}"><span><i class="fa fa-user"></i></span> Edit Profile</a></li> 
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-camera-retro"></i> Overview</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar"></i> Events</a>
                </li>
                <li>
                    <a href="{% url "logout" %}"><i class="fa fa-sign-out"></i> Logout</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                        {% block dashboard %}
                        {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="{% static 'ReviewProcess/jQuery-modalPopLite/modalPopLite.css' %}" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="{% static 'ReviewProcess/jQuery-modalPopLite/modalPopLite.min.js' %}"></script> 
    <script src="{% static 'ReviewProcess/js/sidebar_menu.js' %}" /></script>
    <script src="{% static 'ReviewProcess/js/angular_check.js' %}" /></script>


</body>
</html>