{% extends "ReviewProcess/base.html" %}

{% block dashboard %}
  {% if reportees %}
  <div class="row">
  <div class="col-md-4">
  	<label class="control-label" for="selectbasic">Select Your Reportee Name</label>
  </div>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control" onChange="test()">
      {% for reportee in reportees %}
      <option value="{{ reportee.id }}">{{ reportee.username }}</option>
      {% endfor %}
    </select>
  </div>
</div><br/>
<div class="row">
  <form  name="assignusertask" action="{% url "assignusertask" %}" method="POST">
    {% csrf_token %}
    {{ form }}
	<div class="col-md-12">
    <input type="hidden" name="username" id = "username">
			<div id="flip">Competencies List </div>
      <div class="bs-example pre-scrollable">
       <table class="table table-hover">
        <thead>
            <tr>
                <th>Competencies</th>
                <th>Designation</th>
                <th>Details</th>
                <th>Percentages</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
          {% if reviewquestions %}
          {% for ques in reviewquestions %}
            <tr>
                <td>{{ques.competencies}}</td>
                <td>{{ ques.designation}}</td>
                <td>{{ques.details}}</td>
                <td><select> <option value ={{ques.percentages}}>{{ques.percentages}}</option></select></td>
                <td>
                  <input type="hidden" id="sel_ques_{{ques.id}}" value="">
                  <input type="checkbox" name="checkboxlist"  class="checkbox" id="{{ques.id}}" value= {{ques.percentages}}>
                </td>
            </tr>
          {% endfor %}
          {% endif %}
        </tbody>
    </table>
    </div>
<center>
<div class="progressbar-container">
  <div class="progressbar-bar"></div>
    <div class="progressbar-label"></div>
</div>
</center>
<div class = "ready"></div>
<input type="hidden" id="userid" name="userid" value="">
<input type="hidden" id="selectcount" name="selectcount" value="">
<center><button type="submit"  class="btn btn-primary" disabled>Submit</button> </center>
<div id="dialog-modal" title="Basic modal dialog" style="display: none;"></div>
</div>
{% else %}
    {% if taskassigned %}
    <label class="col-md-8 control-label" for="selectbasic">Task successfully assigned to {{ username }} &nbsp;&nbsp;&nbsp;&nbsp; <a href="" id="opener" name=" {{ username }}">View Task</a>
   <div id="dialog-1" title="Dialog Title goes here...">This my first jQuery UI Dialog!</div>

    </label>
    {% else %}
    <label class="col-md-8 control-label" for="selectbasic">You don't have permission to create a task</label>
    {% endif %}
  {% endif %}
</form>
</div>


  

{% endblock %}