 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Performance</title>
</head>
<body>
<table style="float: left;width: 100%;" border="0" cellspacing="0">
	
	<tbody><tr>
	<td style="width: 70%;padding: 20px 0px 20px 0px;">
	<input type="hidden" id="active_1" value="1">
	<input type="hidden" name="typevalue" value="1">
	<img src="../resource/HomeImages/1.png" border="0" style="margin: 5px 10px 0px 0px;float: left;width: 30px;height: 30px;">
	<font class="home-main-font" id="left_font_1" style="cursor: pointer; color: rgb(53, 127, 123); font-family: 'Source Sans Pro Semibold';" onclick="toggleViewHomePage(1,event);">My Performance Measures</font> 	
	<select name="reviewerid" id="reviewerid" onchange="showHideGoals()" class="drop-down-setup" style="width: 200px;margin:7px 0px 0px 10px;padding: 0px 0px 0px 0px;display: none;float: left;">
	    	
	</select>
	
	
	
	</td>
	<td style="width: 30%;padding-right: 10px;">
	<div class="home-light-font" id="normal_right_header_1_0" style="display: none;">
	
		 Competencies    <!--  9 -->
		    <!--  9 -->
	
		    <!--  0 -->
		    <!--  0 -->
		
	
	
	</div>
	<div class="home-light-font" id="normal_right_header_1_1" style="display: block;">
	<input type="hidden" name="selCatId" id="selCatId" value="2">
	
		 - <a href="javascript:void(0)" id="anch_goal_10" onclick="showGoalCompDetails('anch_goal','active_div_goal',10)" style="color: rgb(127, 127, 127); font-family: 'Source Sans Pro Light'; text-decoration: underline;"></a>  <!--  0 -->
	
	
	 </div>
	</td>
	</tr>
	
	<tr>
	<td colspan="2">
	<div class="div_prev_ver" id="div_prev_ver_1" style="width: 100%; float: left; border-width: 2px 0px 0px; border-style: solid; border-color: rgb(53, 127, 123) rgb(237, 241, 245) rgb(237, 241, 245); background-color: rgb(255, 255, 255); padding: 0px; margin: 0px;">
		<div id="not_active_div_1" style="float: left; width: 100%; background-color: rgb(247, 246, 239); padding: 20px 0px; display: none;">
			<font style="margin: 0px 0px 0px 10px;float: left;" class="body-normal-font">You have no <font style="color: #357F7B;font-family: Source Sans Pro Semibold">active</font> Performance Measures set.</font>
		</div>
		
		<div id="active_div_1" style="float: left; width: 100%; background-color: rgb(255, 255, 255); display: block;">
		
			<div id="active_div_goal_2" style="float: left; width: 100%; background-color: rgb(255, 255, 255); display: block;">		
				
				
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">10%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Self-improvement / Continuous learning</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">10%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Communication Skills</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">10%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Time Management</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">10%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Interpersonal Relations:</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">10%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Compliance with company policies</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">10%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Adaptability</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">10%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Initiative</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">10%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Dependability / Reliability</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
						<table name="goalRow_2_416" style="float: left;width: 100%; border-bottom: 1px solid #f2f2f2;" cellspacing="0">
						<tbody><tr>
						<td style="width: 70px;padding: 5px 0px 5px 0px;background-color: #F7F6EB;text-align: center;" class="body-normal-font">20%</td>
						<td style="width: 435;padding: 5px 0px 5px 10px;background-color: #FFFFFF;text-align: left;"><font class="body-normal-font" style="color:#357f7b;margin: 0px 0px 0px 0px;font-family: Source Sans Pro; font-size: 14px;">Quality of Work</font></td>
						<td style="width: 300px;padding: 5px 0px 5px 0px;background-color: #FFFFFF;text-align: right; float: right; font-size: 14px;" class="body-normal-font"></td>
						</tr>
						</tbody></table>
					
				
			</div>	    
		
			<div id="active_div_goal_10" style="float: left; width: 100%; background-color: rgb(255, 255, 255); display: none;">		
				
				<div style="float: left;width: 100%;background-color: #F7F6EF;padding: 20px 0px 20px 0px;">
					<font style="margin: 0px 0px 0px 10px;float: left;" class="body-normal-font">You have no <font style="color: #357F7B;font-family: Source Sans Pro Semibold">active</font> Performance Measures set.</font>
				</div>
				
				
			</div>	    
		
		</div>
		
	</div>
	
    
	<div id="ass_div_1" style="float: left; width: 100%; height: 1px; background-color: rgb(242, 242, 242); display: none;"></div>
	</td>
	</tr>	


	<tr>
	<td colspan="2">	
	<input type="hidden" id="active_2" value="0">
	<input type="hidden" name="typevalue" value="2">
	<div class="div_prev_ver" id="div_prev_ver_2" style="width: 100%; float: left; border-width: 2px 0px 0px; border-style: solid; border-color: rgb(53, 127, 123) rgb(237, 241, 245) rgb(237, 241, 245); background-color: rgb(255, 255, 255); padding: 0px; margin: 0px; display: none;">
	
	<div id="not_active_div_2" style="float: left;width: 100%;background-color: #F7F6EF;padding: 20px 0px 20px 0px;;display: none;">
	<font style="margin: 0px 0px 0px 10px;float: left;" class="body-normal-font">You have no <font style="color: #357F7B;font-family: Source Sans Pro Semibold">active</font> Review Form.</font>
	</div>
	
	<div id="active_div_2" style="float: left;width: 100%;background-color: #F7F6EF;padding: 15px 0px 15px 0px;;display: none;">
	<font style="margin: 0px 0px 0px 10px;float: left;" class="body-normal-font">View your Review Form</font>
	<select name="reviewid" id="reviewid" class="drop-down-setup" style="width: 300px;margin:0px 0px 0px 10px;padding: 0px 0px 0px 0px;">
	    	
	    	<option value="3">Competency Review</option>
	    	
	</select>
	<a class="save-button" style="float:none;padding:3px 10px 3px 10px;" href="javascript:void(0)" onclick="goToMytask()">Go</a>	  
	</div>
    </div>
	<div id="ass_div_2" style="float: left; width: 100%; height: 1px; background-color: rgb(242, 242, 242); display: block;"></div>
	</td>
	</tr>	
	

	
	<tr>
	<td colspan="2">	
	<input type="hidden" id="active_7" value="0">
	<input type="hidden" name="typevalue" value="7">
	<div class="div_prev_ver" id="div_prev_ver_7" style="width: 100%; float: left; border-width: 2px 0px 0px; border-style: solid; border-color: rgb(53, 127, 123) rgb(237, 241, 245) rgb(237, 241, 245); background-color: rgb(255, 255, 255); padding: 0px; margin: 0px; display: none;">
	<div id="active_div_7" style="float: left;width: 100%;background-color: #F7F6EF;padding: 20px 0px 20px 0px">
	<font style="margin: 0px 0px 0px 10px;float: left;" class="body-normal-font"><a style="color: #357F7B;font-family: Source Sans Pro Semibold" href="javascript:void(0)" onclick="setCommonValueAjax('3','../process/review.do?method=mytaskSchedule&amp;revId=3')">View tasks</a> assigned to you for Competency Review</font>
	</div>
    </div>
	<div id="ass_div_7" style="float: left; width: 100%; height: 1px; background-color: rgb(242, 242, 242); display: block;"></div>
	</td>
	</tr>	
	
	
	
	</tbody></table>
</body>

</html>