<!DOCTYPE html>
<html>

    <head>
    	
        <title></title>

		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'ReviewProcess/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'ReviewProcess/bootstrap/bootstrap.min.css' %}" />
    </head>

    <body>
        <div style="float: left;height:50px;width:85%;">
 <font style="font-family: Source Sans Pro;margin: 10px 0px 0px 0px; vertical-align:center; color:#357f7b;float:right; padding-right: 10px; border-bottom:none;padding-top: 13px;font-size: 20px" class="modal-header">Welcome to ZeOmega Performance Management Solution</font>
</div>
	        <div class="container">
    			<div class="row">
        	      <div class="col-sm-6 col-md-4 col-md-offset-4">
                      <div class="account-wall">
                		<img class="profile-img" src="{% static 'ReviewProcess/images/logo.jpg' %}"
                    alt="">
                	<form class="form-signin" name="loginfrm" method="post">
                        {% csrf_token %}
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}
                    {% if logout %}<label>Successfully  logged out.. </label>{% endif %}
                	<input type="text" class="form-control" name="uid" placeholder="Email/UserID" required autofocus>
                	<input type="password" name="upass" class="form-control" placeholder="Password" required>
                	<button class="btn btn-lg btn-primary btn-block" type="submit">
                    	Sign in</button>
                	<label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>
    </body>

</html>