{% extends "ReviewProcess/base.html" %}

{% block dashboard %}

<div class="panel panel-info">
    <div class="panel-heading">
          <table width="100%">
                <tr>
                  <td width="80%"><h3 class="panel-title">{{ user.get_username }}</h3></td></tr>
          </table>
      </div>
  <div class="panel-body">
    <div class="row">
            <table class="col-md-3 col-lg-3 ">
                <tr>
                  <td rowspan="2">
                     <div  id="hover" align="center" > <img class="img-circle img-responsive" src="" alt="User Pic" >
                     </div>
                     <td>
                        <div id="box" style="display: none">
                        <a href="#" class="bt btleft">
                          <span class="btn btn-default btn-file"> Browse <input type="file"></span>
                        </a>  
                    </div>
                  </td>
                  <td>dddd
                  </td>
                </tr>
              </table>
            <div class=" col-md-9 col-lg-9 "> 
              <form name="updateinfo" method="post">
              {% csrf_token %}
              {{ form }}
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" name="fname" value={{ user.first_name }}>  </td>
                    </tr>
                    <tr>
                      <td>Last Name:</td>
                      <td><input type="text" name="fname" value={{ user.last_name }}>  </td>
                   </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td><input type="text" name="fname" value="edit"> </td>
                  </tr>
              <tr>
                  <td>Department:</td>
                  <td>TSG</td>
              </tr>
            <tr>
              <td>Email</td>
              <td><a href="mailto:info@support.com">info@support.com</a></td>
            </tr>
            <tr>
              <td>Designation:</td>
              <td>Developer</td>
            </tr>
          </tbody>
        </table>
         <center><a  class="btn btn-primary"  type="submit">Update Info</a></center>
       </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
   
