{% extends "ReviewProcess/base.html" %}

{% block dashboard %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Competencies</th>
        <th>Details</th>
        <th>Percentages</th>
        <th>Rating</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    {% for question in questions %}
      <tr class="success">
        <td>{{ question.competencies }}</td>
        <td>{{ question.details }}</td>
        <td>{{ question.percentages }}</td>
        <td>
			 <select>
			 <option value="">Select One </option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			</select> 
        </td>
        <td><textarea rows="4" cols="50"></textarea></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}