{% extends "ReviewProcess/base.html" %}

{% block dashboard %}
<div>
<form  name="sendformtoreviewer" action="{% url "sendformtoreviewer" %}" method="POST">
   {% csrf_token %}
    {{ form }}
  <table class="table">
    <thead>
      <tr>
        <th>Competencies</th>
        <th>Details</th>
        <th>Percentages</th>
        <th>Rating</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    {% for question in questions %}
      <tr>
      <div class="row">
  <div class="col-xs-4">

    <td><input type="hidden" name="quesid" value= {{question.id}}>{{ question.competencies }}</td>
  </div>
  <td>{{ question.percentages }}</td>
  <div class="col-xs-4">
    <td>{{ question.details }}</td>
  </div>
  <div class="col-xs-4">
    <td>
     <select name="rq-{{ question.id }}" >
       <option value="">Select One </option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select> 

        </td>
</div>
<div class="col-xs-4">
<td><textarea name="text-{{ question.id }}" rows="4" cols="50"></textarea></td>
</div>
</div>
</tr>
      {% endfor %}
      
    </tbody>
  </table>
  <div class="row">
  <div class="col-xs-4">
    <label>Select Your Reviewer Name</label>
  </div>
  <div class="col-xs-4">
    <select class="form-control" name="reviewer">
        <option>Select-One</option>
        <option value={{ assigned_by_obj.id }}> {{ assigned_by_obj.first_name }} </option>
      </select>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-default" type="submit">Submit For Review</button>
    sendformtoreviewer
  </div>
</div>
</form>
</div>
{% endblock %}